<!--

Dynamic Sites Confiuration File
Adds:
1) Event Handlers to Update Custom Chosen Templates with Dynamic Sites Base Template
2) Site Providers for both Dynamic Sites as well as a Switcher Provider.
3) Dyanamic Site Default Settings. All Dynamic Sites will inherit from these default properties.
4) 4 Sitecore Settings. Modify only if you know what you're doing.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getLookupSourceValueLists>
        <processor type="SitecoreHacker.Foundation.ValueListField.Pipelines.GetLookupSourceValueLists.CustomCodeSource, SitecoreHacker.Foundation.ValueListField" />
        <processor type="SitecoreHacker.Foundation.ValueListField.Pipelines.GetLookupSourceValueLists.DelimitedListSource, SitecoreHacker.Foundation.ValueListField" />
      </getLookupSourceValueLists>
    </pipelines>
    <controlSources>
      <source mode="on" namespace="SitecoreHacker.Foundation.ValueListField.Controls" assembly="SitecoreHacker.Foundation.ValueListField" prefix="SitecoreHacker" />
    </controlSources>
  </sitecore>
</configuration>