<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>

        <configuration name="Foundation.ValueListField" description="Maintaining Items needed for ValueListField" extends="Helix">
					<predicate>

						<include name="Field Types" database="core" path="/sitecore/system/Field types/List Types/Value List" />
            <include name="Example Templates" database="master" path="/sitecore/templates/Foundation/Value List Examples" />

          </predicate>
					
					<dataProviderConfiguration enableTransparentSync="false" />

					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
